<%= form_for(@instrument) do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>
    <div class="col-md-3">
      <%= f.label :price %>
      <%= f.number_field :price, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= f.label :model %>
      <%= f.text_field :model, class: "form-control" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-3">
      <%= f.label :brand %>
      <%= f.text_field :brand %>

    </div>
    <div class="col-md-3">
      <%= f.label :finish %>
      <%= f.text_field :finish  %>
    </div> 
    <div class="col-md-3">
      <%= f.label :condition %>
      <%= f.text_field :condition %>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="col-md-4">
      <%= f.label :image, "Add image" %>
      <%= f.file_field :image, class: "form-control" %>
    </div>
  </div>
  
  <div class="row mt-3">
    <div class="actions col-md-3">
      <%= f.submit %>
    </div>
  </div>
<% end %>
