<!DOCTYPE html>
<html>
  <head>
    <title>ECommerceGuitaShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

   <meta name="viewport" content="width=device-width, initial-scale=1, 
    shrink-to-fit=no">

    <%= stylesheet_link_tag "application", media: "all", 
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", 
      "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <% if flash[:notice] %>
      <div class="alert-success">
        <p >
          <%= notice %>
        </p>
      </div>
    <% end %>

    <% if flash[:alert] %>
      <div class="alert-danger">
        <p>
          <%= alert %>
        </p>
      </div>
    <% end %>

    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>
